@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:yellow; text-shadow: 1px 1px 2px green, 0 0 1em cyan, 0 0 0.2em blue; font-weight:bold; margin-top: 190px;">
            @*Welcome to your banana plantation management backoffice*@Bienvenue dans le back-office de gestion de votre Bananeraies
        </h1>
    </div>
</body>