html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/banana.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center; /* vertically center the content */
    justify-content: center; /* horizontally center the content */
}