@model IEnumerable<Identity.Models.Greenhouse>

@{
    ViewData["Title"] = "Index";
}

<h1>@*Greenhouses*@Serres</h1>
<hr />
<div style="width:99%">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="Greenhouse" asp-action="Create" class="btn btn-primary mr-3"><i class="fa-solid fa-plus"></i> @*Add new*@Ajouter nouveau</a>
        </div>
        <div class="col-md-9">
            <form asp-controller="Greenhouse" asp-action="Search" method="get" class="form-inline my-2 my-lg-0">
                <div class="row mb-3">
                    @*<div class="col-md-6">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term">
                    </div>*@
                    <div class="col-md-6">
                        <input class="form-control mr-sm-2" type="search" placeholder="Chercher" aria-label="Search" name="term">
                    </div>
                    <div class="col-md-3"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button></div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table text-center table-striped mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@Nom
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*<a asp-controller="Greenhouse" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i>  Details Greenhouse Détails de serre</a>*@
                    <a asp-controller="Greenhouse" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> @*Edit Greenhouse*@Modifier la serre</a>
                    <a asp-controller="Greenhouse" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i> @*Delete Greenhouse*@Supprimer la serre</a>
                </td>
            </tr>
        }
    </tbody>
</table>